body{
    margin:0;
    font-family:Arial;
    background:#f5dff4;
}
nav{
    background:#4f925d;
    margin:20px;
    border-radius:40px;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit:cover;
}

.logo h1{
    margin:0;
    color:white;
    font-size:30px;
    font-weight:bold;
}

nav ul{
    display:flex;
    align-items:center;
    list-style:none;
    gap:25px;
    margin:0;
    padding:0;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:17px;
}

nav ul li a:hover{
    color:#e8f5e9;
}

.logout-btn{
    background:white;
    color:#4f925d !important;
    padding:10px 20px;
    border-radius:25px;
    text-decoration:none;
    font-weight:bold;
}

.logout-btn:hover{
    background:#f1f1f1;
}

h2{
    text-align:center;
    color:#3f7f4f;
    font-size:36px;
    font-weight:bold;
    margin:30px 0;
    letter-spacing:1px;
}


.form-box{
    width:650px;
    margin:30px auto;
    background:#4f925d;
    padding:40px;
    border-radius:30px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.form-header{
    text-align:center;
    margin-bottom:30px;
}

.form-header h3{
    color:white;
    margin:0;
    font-size:30px;
}

.form-header p{
    color:#e8f5ec;
    margin-top:8px;
    font-size:14px;
}

.row{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

.row label{
    width:180px;
    color:white;
    font-size:18px;
    font-weight:bold;
}

.row input,
.row select{
    flex:1;
    padding:14px;
    border:none;
    border-radius:15px;
    background:white;
    font-size:15px;
    outline:none;
}

.row input:focus,
.row select:focus{
    box-shadow:0 0 8px rgba(255,255,255,0.7);
}

.button-area{
    text-align:center;
    margin-top:30px;
}

.button-area button{
    background:white;
    color:#4f925d;
    border:none;
    padding:12px 30px;
    border-radius:25px;
    font-weight:bold;
    cursor:pointer;
    margin:0 10px;
    transition:0.3s;
}

.button-area button:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 12px rgba(0,0,0,0.2);
}

.message{
    background:#ffffff20;
    color:white;
    padding:12px;
    border-radius:10px;
    text-align:center;
    margin-bottom:20px;
    font-weight:bold;
}
