body{
margin:0;
font-family:Arial;
background:#ead7ea;
}

nav{
    background:#4f925d;
    margin:20px;
    border-radius:40px;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit:cover;
}

.logo h1{
    margin:0;
    color:white;
    font-size:30px;
    font-weight:bold;
}

nav ul{
    display:flex;
    align-items:center;
    list-style:none;
    gap:25px;
    margin:0;
    padding:0;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:17px;
}

nav ul li a:hover{
    color:#e8f5e9;
}

.logout-btn{
    background:white;
    color:#4f925d !important;
    padding:10px 20px;
    border-radius:25px;
    text-decoration:none;
    font-weight:bold;
}

.logout-btn:hover{
    background:#f1f1f1;
}

.container{
width:80%;
margin:auto;
}

h1{
text-align:center;
color:#2e7d4f;
}

table{
width:100%;
margin-top:30px;
background:white;
border-collapse:collapse;
border-radius:20px;
overflow:hidden;
}

th{
background:#4f925d;
color:white;
padding:15px;
}

td{
padding:15px;
text-align:center;
border-bottom:1px solid #ddd;
}

.chart{
margin-top:40px;
background:white;
padding:30px;
border-radius:20px;
}