body{
    background-color:#e6d7e8;
    font-family:Arial, sans-serif;
}

nav{
    background:#4f925d;
    margin:20px;
    border-radius:40px;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit:cover;
}

.logo h1{
    margin:0;
    color:white;
    font-size:30px;
    font-weight:bold;
}

nav input{
    padding:10px;
    border:none;
    border-radius:30px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
    color:white;
    align-items:center;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.logout-btn{
    background:white;
    color:#4f925d !important;
    padding:10px 20px;
    border-radius:20px;
}

h1{
    text-align:center;
    color:#2e8b57;
    margin-top:30px;
}

.record-container{
    width:80%;
    margin:30px auto;
}

.record-card{
    background:white;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.record-card p{
    margin:10px 0;
    font-size:16px;
}

.notes-box{
    min-height:80px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    background:#f9f9f9;
}